@media screen and (min-width: 641px) and (max-width: 1024px) {
    #hamburger-menu {
        display: none;
    }

    header span {
        font-size: 2rem;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: #925a5a;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .discover-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        gap: 1rem;
    }


    .card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .card img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .card img:hover {
        transform: scale(1.05) rotate(1deg);
        box-shadow: 0 0 10px rgba(255, 200, 0, 0.5);
        filter: brightness(1.1);
        cursor: pointer;
    }


    footer {
        max-width: 1200px;
        background-color: var(--primary-color);
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .chamber_footer,
    .social-media,
    .author {
        flex: 1;
        width: auto;
        text-align: center;
        margin-bottom: 0;
    }

    .chamber_footer {
        text-align: left;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .social-media img {
        width: auto;
        height: 50px;
    }

    .author {
        text-align: right;
    }
}

@media screen and (min-width: 1025px) {
    .discover-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 .";
        gap: 1.5rem;
    }

    #hamburger-menu {
        display: none;
    }

    header span {
        font-size: 2rem;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: #925a5a;
    }

    nav {
        grid-template-rows: 1fr;
    }

    footer {
        max-width: 1200px;
        background-color: var(--primary-color);
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .chamber_footer,
    .social-media,
    .author {
        flex: 1;
        width: auto;
        text-align: center;
        margin-bottom: 0;
    }

    .chamber_footer {
        text-align: left;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .social-media img {
        width: auto;
        height: 50px;
    }

    .author {
        text-align: right;
    }

}