@media only screen and (min-width: 650px) {
    #hamburger-menu {
        display: none;
    }

    header span {
        font-size: 2rem;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: #925a5a;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .discover-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        padding: 1rem;
    }

    .card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .card img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .card img:hover {
        transform: scale(1.05) rotate(1deg);
        box-shadow: 0 0 10px rgba(255, 200, 0, 0.5);
        filter: brightness(1.1);
        cursor: pointer;
    }


    footer {
        max-width: 1200px;
        background-color: var(--primary-color);
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .chamber_footer,
    .social-media,
    .author {
        flex: 1;
        width: auto;
        text-align: center;
        margin-bottom: 0;
    }

    .chamber_footer {
        text-align: left;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .social-media img {
        width: auto;
        height: 50px;
    }

    .author {
        text-align: right;
    }
}